.mat-blue{
    background: #2f89fc;
}
.mat-red{
    background: #ff304f;
}
.mat-green{
    background: #83e85a;
}
.mat-purple{
    background: #9c1de7;
}
.mat-silver{
    background: #cfc7c7;
}
.mat-navyBlue{
    background: #1e2a78;
}
.mat-yellow{
    background: #ffd615;
}
.cards {
    display: flex;
    flex-wrap: wrap;
 }
 
.card {
    flex: 1 0 500px;
    box-sizing: border-box;
    margin: 1rem .25em;
    background: white;
    padding:10px;
    box-shadow: 2px 4px 8px #b1b1b1;
    transition: 0.5s;
    border-radius: .3em;
}
.card-header{
    margin: -5px;
    padding: 20px 10px;
    border-radius: 3px 3px 0px 0px;;
    color: white;
}
.card-body{
    margin: 15px 5px;
}

@media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
 
    .card {
        flex: 0 1 calc(50% - 1em);
    }
}
 
@media screen and (min-width: 60em) {
    .card {
        flex: 0 1 calc(25% - 1em);
    }
}
 