<div class="centered">

    <section class="cards">

        <article class="card">
            <h3>Data from Angular Service</h3>
            <p>{{mockString}}</p>
        </article><!-- /card-one -->

        <article class="card">
            <p>Property Binding</p>
            <input type="text" name="username" [value]="userName">

            <p>Event Binding</p>
            <button (click)= "displayName()">Click Me</button>
            
            <p>Template Reference Variable</p>
            <input #refVar type="text" name="" id="" >
            <button (click)= "logger(refVar.value)">Send</button>

            <p>Two Way Binding (ngModule)</p>
            <input type="text" [(ngModel)]="twoWayBinding" id="">
        </article><!-- /card-two -->

        <article class="card">
            <p>ngModule - Text Will appear bellow</p>
            <p>{{twoWayBinding}}</p>

            <p>Pipes</p>
            <p>lowercase - >{{pipeLower | lowercase}}</p>
            <p>Uppercase - >{{pipeUpper | uppercase}}</p>
            <p>Short Date - >{{pipeDate | date:'short'}}</p>
            <p>Short Date 1 - >{{pipeDate | date:'shortDate'}}</p>
        </article><!-- /card-three -->

        <article class="card">
            <p>Routing In Angular</p>
            <button routerLink="/about">AboutMe</button>
            <button routerLink="/contact">Contact</button>
            <button routerLink="/">Home</button>
        </article><!-- /card-four -->

    </section>
</div>