
$color-list:("blue":#2f89fc,
            "red":#ff304f,
            "green":#2ecc71,
            "purple":#9c1de7,
            "silver":#cfc7c7,
            "navyBlue":#1e2a78,
            "yellow":#ffd615);

@each $color,$value in $color-list {
    //css property for mat-$color
    .mat-#{$color}{
        background: $value;
        min-width: 80px;
    }
}

$bg-color: #424242;
$hl-color: #2196F3;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 320px;

.group {
  position: relative;
  margin: 25px 10px 15px 5px;
}

textarea {
  resize: none;
}

input,
textarea {
  background: none;
  color: $muted-color;
  font-size: 18px;
  //padding: 10px 10px 10px 5px;
  padding: 10px 0px;
  display: block;
  width: $width;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid $muted-color;
  &:focus {
    outline: none;
  }
  &:focus ~ label,
  &:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: $hl-color;
  }
  &:focus ~ .bar:before {
    width: $width;
  }
}

input[type="password"] {
  letter-spacing: 0.3em;
}

label {
  color: $muted-color;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: $trans-time ease all;
}

.bar {
  position: relative;
  display: block;
  width: $width;
  &:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: $hl-color;
    transition: $trans-time ease all;
    left: 0%;
  }
}

.btn {
    position: relative;
    //display: block;
    margin: 5px 10px;
    //padding: 10px 15px;
    overflow: hidden;
  
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    color: #ecf0f1;
    transition: background-color .3s;
  }
  
  @each $color,$value in $color-list {
      .btn.mat-#{$color}:hover ,.btn.mat-#{$color}:focus{
          background: darken($value, 10);
      }  
  }
//above code is similar to this bellow code with multiple color simultanouly used with .btn class
//   .btn:hover, .btn:focus {
//     background: darken(red, 10%);
//   }
  
//   .btn > * {
//     position: relative;
//   }
  
  .btn span {
    display: block;
    padding: 10px 5px;
  }
  
  .btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .btn:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
  }
  
.cards {
    display: flex;
    flex-wrap: wrap;
 }
 
.card {
    flex: 1 0 500px;
    box-sizing: border-box;
    margin: 1rem .25em;
    background: white;
    padding:10px;
    box-shadow: 2px 4px 8px #b1b1b1;
    transition: 0.5s;
    border-radius: .3em;
}
.card-header{
    margin: -5px -5px 0px -5px;
    padding: 20px 10px;
    border-radius: 3px 3px 0px 0px;;
    color: white;
}
.card-body{
    margin: 15px 5px;
}

@media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
 
    .card {
        flex: 0 1 calc(50% - 1em);
    }
}
 
@media screen and (min-width: 60em) {
    .card {
        flex: 0 1 calc(25% - 1em);
    }
}
 